@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.4rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 3.84rem;
}
.display-2 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-4 {
  font-family: 'Raleway', sans-serif;
  font-size: 0.7rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.12rem;
}
.display-5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 3.2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 1.92rem;
    font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.56rem;
    font-size: calc( 0.895rem + (0.7 - 0.895) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.895rem + (0.7 - 0.895) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #a7a7a7 !important;
}
.bg-success {
  background-color: #767676 !important;
}
.bg-info {
  background-color: #55b4d4 !important;
}
.bg-warning {
  background-color: #cc2952 !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #a7a7a7 !important;
  border-color: #a7a7a7 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #818181 !important;
  border-color: #818181 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #818181 !important;
  border-color: #818181 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f9f295 !important;
  border-color: #f9f295 !important;
  color: #877e08 !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #877e08 !important;
  background-color: #f5e94d !important;
  border-color: #f5e94d !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #877e08 !important;
  background-color: #f5e94d !important;
  border-color: #f5e94d !important;
}
.btn-info,
.btn-info:active {
  background-color: #55b4d4 !important;
  border-color: #55b4d4 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #2d8fb0 !important;
  border-color: #2d8fb0 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #2d8fb0 !important;
  border-color: #2d8fb0 !important;
}
.btn-success,
.btn-success:active {
  background-color: #767676 !important;
  border-color: #767676 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #505050 !important;
  border-color: #505050 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #505050 !important;
  border-color: #505050 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #cc2952 !important;
  border-color: #cc2952 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #8c1c38 !important;
  border-color: #8c1c38 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #8c1c38 !important;
  border-color: #8c1c38 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #747474;
  color: #747474;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #a7a7a7;
  border-color: #a7a7a7;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #a7a7a7 !important;
  border-color: #a7a7a7 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #f4e634;
  color: #f4e634;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #877e08;
  background-color: #f9f295;
  border-color: #f9f295;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #877e08 !important;
  background-color: #f9f295 !important;
  border-color: #f9f295 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #277e9c;
  color: #277e9c;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #55b4d4;
  border-color: #55b4d4;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #55b4d4 !important;
  border-color: #55b4d4 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #434343;
  color: #434343;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #767676;
  border-color: #767676;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #767676 !important;
  border-color: #767676 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #771830;
  color: #771830;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #cc2952;
  border-color: #cc2952;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #cc2952 !important;
  border-color: #cc2952 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #a7a7a7 !important;
}
.text-secondary {
  color: #f9f295 !important;
}
.text-success {
  color: #767676 !important;
}
.text-info {
  color: #55b4d4 !important;
}
.text-warning {
  color: #cc2952 !important;
}
.text-danger {
  color: #ffffff !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #747474 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #f4e634 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #434343 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #277e9c !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #771830 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #cccccc !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #55b4d4;
}
.alert-warning {
  background-color: #cc2952;
}
.alert-danger {
  background-color: #ffffff;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #a7a7a7;
  border-color: #a7a7a7;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #a7a7a7;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e7e7e7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #b6b6b6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f8fcfd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #f5ccd6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 3.2rem;
}
blockquote {
  border-color: #a7a7a7;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #a7a7a7;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #a7a7a7;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #a7a7a7;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #a7a7a7;
  border-bottom-color: #a7a7a7;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #a7a7a7 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f9f295 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23a7a7a7' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rUaXoErjgu {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rUaXoErjgu .mbr-text,
.cid-rUaXoErjgu blockquote {
  color: #767676;
}
.cid-rUaXoErjgu .mbr-text P {
  text-align: center;
}
.cid-rUaXoErjgu .mbr-text {
  color: #232323;
}
.cid-rTTvnI4eFN {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rTTvnI4eFN .mbr-text,
.cid-rTTvnI4eFN blockquote {
  color: #767676;
}
.cid-rTTvnI4eFN .mbr-text P {
  text-align: left;
}
.cid-rTTvnI4eFN .mbr-text {
  color: #232323;
}
.cid-rTTsjVRfYH {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rTTsjVRfYH .mbr-text,
.cid-rTTsjVRfYH blockquote {
  color: #767676;
}
.cid-rTTsjVRfYH .mbr-text P {
  text-align: left;
}
.cid-rTTsjVRfYH .mbr-text {
  color: #232323;
}
.cid-rTTuyqVBQl {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rTTuyqVBQl .mbr-text {
  color: #232323;
}
.cid-rTTuyqVBQl .mbr-text P {
  text-align: left;
}
.cid-rTTuGn8cYE {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rTTuGn8cYE .mbr-text,
.cid-rTTuGn8cYE blockquote {
  color: #767676;
}
.cid-rTTuGn8cYE .mbr-text P {
  text-align: left;
}
.cid-rTTuGn8cYE .mbr-text {
  color: #232323;
}
.cid-rTTzgqtgfe {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rTTzgqtgfe .mbr-text {
  color: #232323;
}
.cid-rUaYQsqqkZ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rUaYQsqqkZ .mbr-text,
.cid-rUaYQsqqkZ blockquote {
  color: #767676;
}
.cid-rUaYQsqqkZ .mbr-text {
  color: #767676;
}
.cid-rUaYQsqqkZ .mbr-text P {
  text-align: right;
}
.cid-rUb6TifUQS {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rUb6TifUQS .mbr-text,
.cid-rUb6TifUQS blockquote {
  color: #767676;
}
.cid-rUb6TifUQS .mbr-text P {
  text-align: center;
}
.cid-rUb6TifUQS .mbr-text {
  color: #232323;
}
.cid-rUfTO8TSkC {
  background-color: #f9f295;
}
.cid-rUfTO8TSkC P {
  color: #767676;
}
.cid-rUfTO8TSkC .mbr-text,
.cid-rUfTO8TSkC .mbr-section-btn {
  text-align: left;
  color: #232323;
}
.cid-rUc35JwLrs {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rUc35JwLrs .mbr-text,
.cid-rUc35JwLrs blockquote {
  color: #767676;
}
.cid-rUc35JwLrs .mbr-text {
  color: #232323;
}
.cid-rUaYh7wIDH {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rUaYh7wIDH .mbr-text,
.cid-rUaYh7wIDH blockquote {
  color: #767676;
}
.cid-rUaYh7wIDH .mbr-text P {
  text-align: center;
}
.cid-rUaYh7wIDH .mbr-text {
  color: #232323;
}
.cid-rTTpUaX0MG {
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rTTpUaX0MG .mbr-text {
  color: #232323;
  text-align: center;
}
.cid-rTTpUaX0MG .mbr-text p {
  background: #f9f295;
}
.cid-rU5wMK1VAK {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rU5wMK1VAK .mbr-text {
  color: #232323;
  text-align: center;
}
.cid-rU5wMK1VAK .mbr-text p {
  background: #ffffff;
}
.cid-rU5wSwxHjh {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rU5wSwxHjh .mbr-text {
  color: #232323;
  text-align: center;
}
.cid-rU5wSwxHjh .mbr-text p {
  background: #ffffff;
}
.cid-rU5wXqGsW0 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rU5wXqGsW0 .mbr-text {
  color: #232323;
  text-align: center;
}
.cid-rU5wXqGsW0 .mbr-text p {
  background: #ffffff;
}
.cid-rTTql9cWFR {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rTTql9cWFR .mbr-text {
  color: #232323;
  text-align: center;
}
.cid-rTTql9cWFR .mbr-text p {
  background: #ffffff;
}
.cid-rU5x1pp2qU {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rU5x1pp2qU .mbr-text {
  color: #232323;
  text-align: center;
}
.cid-rU5x1pp2qU .mbr-text p {
  background: #ffffff;
}
.cid-rUaVyeqE6C {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-rUaVyeqE6C .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rUaVyeqE6C .media-wrap .mbr-iconfont-logo {
  font-size: 7rem;
  color: #f36;
}
.cid-rUaVyeqE6C .media-wrap img {
  height: 6rem;
}
.cid-rUaVyeqE6C .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-rUaVyeqE6C .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rUaVyeqE6C .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-rUaVyeqE6C .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rUaVyeqE6C .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-rUaVyeqE6C .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rUaVyeqE6C .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rUaVyeqE6C .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rUaVyeqE6C .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rUaYv63hux {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rUaYv63hux .mbr-text,
.cid-rUaYv63hux blockquote {
  color: #767676;
}
.cid-rUaYv63hux .mbr-text P {
  text-align: center;
}
.cid-rUaYv63hux .mbr-text {
  color: #232323;
}
.cid-rU5pNWoloG {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rU5pNWoloG .mbr-text {
  color: #232323;
}
.cid-rU5pNWoloG .mbr-text p {
  background: #f9f295;
}
.cid-rU5pNXX0QW {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rU5pNXX0QW .mbr-text,
.cid-rU5pNXX0QW blockquote {
  color: #767676;
}
.cid-rU5pNXX0QW .mbr-text {
  color: #232323;
}
.cid-rU5pNYeLqU {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rU5pNYeLqU .mbr-text,
.cid-rU5pNYeLqU blockquote {
  color: #767676;
}
.cid-rU5pNYeLqU .mbr-text {
  color: #232323;
}
.cid-rU5pNYy51U {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rU5pNYy51U .mbr-text,
.cid-rU5pNYy51U blockquote {
  color: #767676;
}
.cid-rU5pNYy51U .mbr-text {
  color: #232323;
}
.cid-rU5pNYy51U .mbr-text P {
  text-align: center;
}
.cid-rUaYrFM0Zt {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rUaYrFM0Zt .mbr-text,
.cid-rUaYrFM0Zt blockquote {
  color: #767676;
}
.cid-rUaYrFM0Zt .mbr-text P {
  text-align: center;
}
.cid-rUaYrFM0Zt .mbr-text {
  color: #232323;
}
.cid-rU0dEYng2f {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rU0dEYng2f .mbr-text {
  color: #232323;
}
.cid-rU0dEYng2f .mbr-text p {
  background: #f9f295;
}
.cid-rU0dEYSXrF {
  background: #ffffff;
  padding-top: 90px;
  padding-bottom: 45px;
}
.cid-rU0dEYSXrF .image-block {
  margin: auto;
}
.cid-rU0dEYSXrF .mbr-figure {
  margin: 0 auto;
}
.cid-rU0dEYSXrF figcaption {
  position: relative;
}
.cid-rU0dEYSXrF figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rU0dEYSXrF .image-block {
    width: 100% !important;
  }
}
.cid-rU0dEZcDm4 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rU0dEZcDm4 .mbr-text,
.cid-rU0dEZcDm4 blockquote {
  color: #767676;
}
.cid-rU0dEZcDm4 .mbr-text {
  color: #232323;
}
.cid-rU0fjZ1OMt {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rU0fjZ1OMt .mbr-text {
  color: #232323;
}
.cid-rU0tyDRHM7 {
  background: #ffffff;
  padding-top: 75px;
  padding-bottom: 45px;
}
.cid-rU0tyDRHM7 .image-block {
  margin: auto;
}
.cid-rU0tyDRHM7 .mbr-figure {
  margin: 0 auto;
}
.cid-rU0tyDRHM7 figcaption {
  position: relative;
}
.cid-rU0tyDRHM7 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rU0tyDRHM7 .image-block {
    width: 100% !important;
  }
}
.cid-rU0tFRGhBV {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rU0tFRGhBV .mbr-text,
.cid-rU0tFRGhBV blockquote {
  color: #767676;
}
.cid-rU0tFRGhBV .mbr-text {
  color: #232323;
}
.cid-rU0dEZyXMn {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rU0dEZyXMn .mbr-text,
.cid-rU0dEZyXMn blockquote {
  color: #767676;
}
.cid-rU0dEZyXMn .mbr-text {
  color: #232323;
}
.cid-rUaZ2zA6Md {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rUaZ2zA6Md .mbr-text,
.cid-rUaZ2zA6Md blockquote {
  color: #767676;
}
.cid-rUaZ2zA6Md .mbr-text {
  color: #767676;
}
.cid-rUaZ2zA6Md .mbr-text P {
  text-align: right;
}
.cid-rUaYmuuRA8 {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rUaYmuuRA8 .mbr-text,
.cid-rUaYmuuRA8 blockquote {
  color: #767676;
}
.cid-rUaYmuuRA8 .mbr-text P {
  text-align: center;
}
.cid-rUaYmuuRA8 .mbr-text {
  color: #232323;
}
.cid-rU5sahF7ua {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rU5sahF7ua .mbr-text {
  color: #232323;
}
.cid-rU5sahF7ua .mbr-text p {
  background: #f9f295;
}
.cid-rU5sIg4G6n {
  background: #ffffff;
  padding-top: 75px;
  padding-bottom: 45px;
}
.cid-rU5sIg4G6n .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rU5sIg4G6n .video-block {
    width: 100% !important;
  }
}
.cid-rU5saioYHJ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rU5saioYHJ .mbr-text,
.cid-rU5saioYHJ blockquote {
  color: #767676;
}
.cid-rU5saioYHJ .mbr-text {
  color: #232323;
}
.cid-rU5uxU9exf {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rU5uxU9exf .mbr-text {
  color: #232323;
}
.cid-rU5uxU9exf .mbr-text p {
  background: #ffffff;
}
.cid-rU5saiD7PX {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rU5saiD7PX .mbr-text,
.cid-rU5saiD7PX blockquote {
  color: #767676;
}
.cid-rU5saiD7PX .mbr-text {
  color: #232323;
}
.cid-rUaYXDMhMs {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rUaYXDMhMs .mbr-text,
.cid-rUaYXDMhMs blockquote {
  color: #767676;
}
.cid-rUaYXDMhMs .mbr-text {
  color: #767676;
}
.cid-rUaYXDMhMs .mbr-text P {
  text-align: right;
}
.cid-rUaYjVXrff {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rUaYjVXrff .mbr-text,
.cid-rUaYjVXrff blockquote {
  color: #767676;
}
.cid-rUaYjVXrff .mbr-text P {
  text-align: center;
}
.cid-rUaYjVXrff .mbr-text {
  color: #232323;
}
.cid-rTTHsHnMQu {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rTTHsHnMQu .mbr-text {
  color: #232323;
}
.cid-rTTHsHnMQu .mbr-text p {
  background: #f9f295;
}
.cid-rTTHE8ePFf {
  background: #ffffff;
  padding-top: 75px;
  padding-bottom: 45px;
}
.cid-rTTHE8ePFf .image-block {
  margin: auto;
}
.cid-rTTHE8ePFf .mbr-figure {
  margin: 0 auto;
}
.cid-rTTHE8ePFf figcaption {
  position: relative;
}
.cid-rTTHE8ePFf figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-rTTHE8ePFf .image-block {
    width: 100% !important;
  }
}
.cid-rTTLeDG70G {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rTTLeDG70G .mbr-text,
.cid-rTTLeDG70G blockquote {
  color: #767676;
}
.cid-rTTLeDG70G .mbr-text {
  color: #232323;
}
.cid-rTYGYbwVa7 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rTYGYbwVa7 .mbr-text,
.cid-rTYGYbwVa7 blockquote {
  color: #767676;
}
.cid-rTYGYbwVa7 .mbr-text {
  color: #232323;
}
.cid-rUaYUZ8JEQ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rUaYUZ8JEQ .mbr-text,
.cid-rUaYUZ8JEQ blockquote {
  color: #767676;
}
.cid-rUaYUZ8JEQ .mbr-text {
  color: #767676;
}
.cid-rUaYUZ8JEQ .mbr-text P {
  text-align: right;
}
.cid-rUh9p8ZZRU {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rUh9p8ZZRU .mbr-text,
.cid-rUh9p8ZZRU blockquote {
  color: #767676;
}
.cid-rUh9p8ZZRU .mbr-text P {
  text-align: center;
}
.cid-rUh9p8ZZRU .mbr-text {
  color: #232323;
}
.cid-rUh9p9nWT3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rUh9p9nWT3 .mbr-text {
  color: #232323;
}
.cid-rUh9p9nWT3 .mbr-text p {
  background: #f9f295;
}
.cid-rUh9p9OkVl {
  background: #ffffff;
  padding-top: 75px;
  padding-bottom: 45px;
}
.cid-rUh9p9OkVl .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rUh9p9OkVl .video-block {
    width: 100% !important;
  }
}
.cid-rUh9padMVH {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rUh9padMVH .mbr-text,
.cid-rUh9padMVH blockquote {
  color: #767676;
}
.cid-rUh9padMVH .mbr-text {
  color: #232323;
}
.cid-rUh9paCzHy {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rUh9paCzHy .mbr-text {
  color: #232323;
}
.cid-rUh9paCzHy .mbr-text p {
  background: #ffffff;
}
.cid-rUh9paYFd3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f295;
}
.cid-rUh9paYFd3 .mbr-text,
.cid-rUh9paYFd3 blockquote {
  color: #767676;
}
.cid-rUh9paYFd3 .mbr-text {
  color: #232323;
}
.cid-rUh9pbexYa {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rUh9pbexYa .mbr-text,
.cid-rUh9pbexYa blockquote {
  color: #767676;
}
.cid-rUh9pbexYa .mbr-text {
  color: #767676;
}
.cid-rUh9pbexYa .mbr-text P {
  text-align: right;
}
